<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boots of Traveling</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/gameUI.css">
</head>

<body>
    <div id='container' class='collapse expanded row'>
        <div id='side' class='columns small-2 medium-2 large-2'>
            <div class='collapse expanded row'>
                <div id='sidebar' class='columns small-12 medium-12 large-12'>
                    <div class='row collapse'>
                        <div id='roominfodiv' class='columns small-12 medium-12 large-12'>
                            <p class='text-center'>
                                {{name}}
                            </p>
                        </div>

                        <div id='cards' class='columns small-12 medium-12 large-12'>
                            <div class='collapse expanded row text-left'>
                                <div id='charname' class='columns small-12 medium-12 large-12'>
                                    <p class='name'>Sample Name</p>
                                </div>
                                <div id='charport' class='columns small-6 medium-6 large-6'>
                                    <!-- {{character.portrait}} -->
                                    <img class='img' src='/img/olympic-gold-portrait.png'>
                                </div>
                                <div id='statspacer' class='columns small-6 medium-6 large-6'>
                                    <p class='stats'><strong class='statag'>HP:</strong> 50/100</p>
                                </div>
                                <div id='statspacer' class='columns small-6 medium-6 large-6'>
                                    <p class='stats'><strong class='statag'>STR:</strong> 38</p>
                                </div>
                                <div id='statspacer' class='columns small-6 medium-6 large-6'>
                                    <p class='stats'><strong class='statag'>DEX:</strong> 40</p>
                                </div>
                                <div id='statspacer' class='columns small-6 medium-6 large-6'>
                                    <p class='stats'><strong class='statag'>INT:</strong> 50</p>
                                </div>
                                <div id='statspacer' class='columns small-6 medium-6 large-6'>
                                    <p class='stats'><strong class='statag'>DEF:</strong> 50</p>
                                </div>
                            </div>
                        </div>

                        <div id='menudiv' class='column align-self-bottom'>
                            <div class='collapse row expanded text-center'>
                                <div class='columns small-6 medium-6 large-5'>
                                    <input class='button' type='button' value='Save'>
                                </div>

                                <div class='columns small-6 medium-6 large-7'>
                                    <input class='button' type='button' value='Save + Exit'>
                                </div>

                                <div class='columns small-6 medium-6 large-6'>
                                    <input class='button' type='button' value='Go Back'>
                                </div>

                                <div class='columns small-6 medium-6 large-6'>
                                    <input class='button' type='button' value='Next' disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='main' class='columns small-10 medium-10 large-10'>
            <div class='collapse expanded row'>
                {{{body}}}

                <div id='userinterface' class='columns small-12 medium-12 large-12'>
                    <div class='collapse expanded row'>
                        <div id='desc' class='columns small-12 medium-12 large-12'>
                            <p class='desctext'>
                                {{description}}
                            </p>
                        </div>
                        <div id='options' class='columns small-12 medium-12 large-12'>
                            <div class='columns text-center small-3 medium-3 large-3'>
                                <input id="btn1" class='options' type='button' value='{{choice1}}'>
                            </div>
                            <div class='columns text-center small-3 medium-3 large-3'>
                                <input id="btn2" class='options' type='button' value='{{choice2}}'>
                            </div>
                            <div class='columns text-center small-3 medium-3 large-3'>
                                <input id="btn3" class='options' type='button' value='{{choice3}}'>
                            </div>
                            <div class='columns text-center small-3 medium-3 large-3'>
                                <input id="btn4" class='options' type='button' value='{{choice4}}'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>