<div id='charselscene' class='columns small-12 medium-12 large-12'>
    <div id='positions' class='collapse expanded row'>
        <button id='charactercards' class='columns small-2 medium-2 large-2'>
            <div class='collapse expanded row'>
                <div id='charname' class='columns small-12 medium-12 large-12'>
                    <p class='selectname'>
                        <!-- {{character.name}} -->
                        Olympic Gold Medalist
                    </p>
                </div>
                <div id='character-image' class='columns small-12 medium-12 large-12'>
                    <img class='selectimg' src='../public/img/olympic-gold.png'>
                </div>
            </div>
        </button>
        <button id='charactercards' class='columns small-2 medium-2 large-2'>
            <div class='collapse expanded row'>
                <div id='charname' class='columns small-12 medium-12 large-12'>
                    <p class='selectname'>
                        <!-- {{character.name}} -->
                        Fullstack Developer
                    </p>
                </div>
                <div id='character-image' class='columns small-12 medium-12 large-12'>
                    <img class='selectimg' src='../public/img/fullstack-developer.png'>
                </div>
            </div>
        </button>
        <button id='charactercards' class='columns small-2 medium-2 large-2'>
            <div class='collapse expanded row'>
                <div id='charname' class='columns small-12 medium-12 large-12'>
                    <p class='selectname'>
                        <!-- {{character.name}} -->
                        Escaped Convict
                    </p>
                </div>
                <div id='character-image' class='columns small-12 medium-12 large-12'>
                    <img class='selectimg' src='../public/img/convict.png'>
                </div>
            </div>
        </button>
        <button id='charactercards' class='columns small-2 medium-2 large-2'>
            <div class='collapse expanded row'>
                <div id='charname' class='columns small-12 medium-12 large-12'>
                    <p class='selectname'>
                        <!-- {{character.name}} -->
                        Recent Devorcee
                    </p>
                </div>
                <div id='character-image' class='columns small-12 medium-12 large-12'>
                    <img class='selectimg' src='../public/img/recent-divorcee.png'>
                </div>
            </div>
        </button>
        <button id='charactercards' class='columns small-2 medium-2 large-2 end'>
            <div class='collapse expanded row'>
                <div id='charname' class='columns small-12 medium-12 large-12'>
                    <p class='selectname'>
                        <!-- {{character.name}} -->
                        Smart Orangutan
                    </p>
                </div>
                <div id='character-image' class='columns small-12 medium-12 large-12'>
                    <img class='selectimg' src='../public/img/orangutan.png'>
                </div>
            </div>
        </button>
    </div>
</div>